<div class="container-fluid">
    <div class="row">
      <div class="col">
        <app-unathenticated-navbar></app-unathenticated-navbar>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
