<div class="col-xs-12 col-md-10 col-md-offset-2">
<div class="row">
<div class="col-4">
    <div class="row">
        <div class="col">
            <img [src]="book.imagePath" *ngIf="book.imagePath">
        </div>
    </div>
</div>
<div class="col-8">
   <div class="row">
       <div class="col">
           <h1>{{ book.title }}</h1>
           <p>Written by {{ book.authorName }}</p>
           <hr>
           <p>{{ book.description }}</p>
       </div>
   </div>
</div>
</div>
<hr>
<div class="row">
    <h2>About the author</h2>
    <h3>{{ author.name }}</h3>
    <p>{{ author.shortBiography }}</p>
</div>
</div>
