<nav class="navbar navbar-expand-lg navbar-light bg-light cursor-pointer justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        E-Library
    </a>
    <button class="btn btn-outline-dark" type="button" (click)="onLogin()">Log-In</button>   
  </nav>

