
   <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
     <div class="text-center">
      <img class="mx-auto" src="favicon.png" alt="" width="72" height="72">
     </div>
      <h1 class="h3 text-center font-weight-normal">Please sign in</h1>
        <div class="form-group ml-3 mr-3">
          <label for="username" class="sr-only">Email address</label>
            <input 
            type="email" 
            class="form-control" 
            id="username" 
            placeholder="Email address" 
            formControlName="username"
            required 
            autofocus>
        </div>
        <div class="form-group ml-3 mr-3">
          <label 
          for="inputPassword" 
          class="sr-only">Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="inputPassword" 
            placeholder="Password" 
            formControlName="password"
            required>
        </div>
        <div class="form-group d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-primary">Sing-Up</button>
        </div>
      </form>