<div class="row row-cols-6 row-cols-md-6">
    <div class="col mb-4"  *ngFor="let book of books">
      <div class="card h-100">
        <img [src]="book.imagePath" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.authorName }}</p>
          <a class="stretched-link" (click)="showBookDetails(book)"></a>
        </div>
      </div>
    </div>
<div>
