
<tabset>
    <tab heading="E-Books" id="book" class="mt-2" (selectTab)="onSelect($event)">
        <app-book-card [books]="books"></app-book-card>
    </tab>
    <tab heading="Audio Books" id="audio" class="mt-2" (selectTab)="onSelect($event)">
        <app-book-card [books]="books"></app-book-card>
    </tab>
  </tabset>