<nav class="navbar navbar-expand-lg navbar-light bg-light cursor-pointer">
    <a class="navbar-brand" href="#">E-Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <input 
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Search" 
      aria-label="Search"
      ngModel
      name="searchText">
      <button class="btn btn-outline-primary col-auto" type="submit">Search</button>
    </form>
  </nav>
