<footer class="footer fixed-bottom">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2021 E-Library, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>